@media screen and (max-width: 1023px) {
    .home .home-headline {
        font-size: 3.75rem;
    }

    .features-heading {
        font-size: 2.5rem;
    }

    .testimonial-title {
        font-size: 2.5rem;
    }

    .toggle-row-direction {
        flex-direction: row-reverse;
    }

    .newsletter-title {
        font-size: 2.5rem;
    }

    .downloads-section .downloads-title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 767px) {
    .toggle-column-direction {
        flex-direction: column-reverse !important;
    }

    .newsletter-email-input {
        width: 50% !important;
    }
}

@media screen and (max-width: 435px) {
    .newsletter-email-input {
        width: 100% !important;
    }
}